@{
    ViewBag.Title = "Prayer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="index">
    <h2>Prayer</h2>
    For our family. Sick and Shut-In. Homeless. Those that our lost.
</div>